
/* General */


* {
    font-family: "open sans", sans-serif;
    

}
.descarga-cv{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

a {
    color: #8113ca;
    text-decoration: none;

}




  /* Header */
  #header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9997;
    transition: all 0.5s;
    padding: 15px;
    overflow-y: auto;
  }
  

  /* Navigation Menu */
/**
* Desktop Navigation 
*/
.nav-menu {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    
  }
  
  .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
  }
  
  .nav-menu a,
  .nav-menu a:focus {
    display: flex;
    align-items: center;
    color: #45505b;
    padding: 10px 18px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
    border-radius: 50px;
    background: #f2f3f5;
    height: auto;
    width: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: 0.3s;
    white-space: nowrap;
    box-sizing: border-box;
  }
  
  .nav-menu a i,
  .nav-menu a:focus i {
    font-size: 20px;
  }
  
  .nav-menu a span,
  .nav-menu a:focus span {
    padding: 0 5px 0 7px;
    color: #45505b;
  }
  
  @media (min-width: 992px) {
  
    .nav-menu a,
    .nav-menu a:focus {
      width: 56px;
    }
  
    .nav-menu a span,
    .nav-menu a:focus span {
      display: none;
      color: #fff;
    }
  }
  
  .nav-menu a:hover,
  .nav-menu .active,
  .nav-menu .active:focus,
  .nav-menu li:hover>a {
    color: #fff;
    background: #8113ca;
  }
  
  .nav-menu a:hover span,
  .nav-menu .active span,
  .nav-menu .active:focus span,
  .nav-menu li:hover>a span {
    color: #fff;
  }
  
  .nav-menu a:hover,
  .nav-menu li:hover>a {
    width: 100%;
    color: #fff;
  }
  
  .nav-menu a:hover span,
  .nav-menu li:hover>a span {
    display: block;
  }
  
  /**
  * Mobile Navigation 
  */
  .mobile-nav-toggle {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 28px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 0;
    cursor: pointer;
    border-radius: 50px;
    padding: 5px;
  }
  
  .mobile-nav-toggle i {
    color: #45505b;
  }
  
  .mobile-nav-active {
    overflow: hidden;
  }
  
  .mobile-nav-active #header {
    left: 0;
  }
  
  .mobile-nav-active .mobile-nav-toggle {
    color: #fff;
    background-color: #8113ca;
  }


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("/images/hero-bg.jpg") top right no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
  
  }
  
  
  #hero h1 {
    margin: 0;
    font-size: 64px;
    color: #45505b;
  }
  

  
  #hero p span {
    color: #8113ca;
    letter-spacing: 1px;
    font-size: 30px;
  }
  
  #hero .social-links {
    margin-top: 30px;
  }
  
  #hero .social-links a {
    font-size: 24px;
    display: inline-block;
    color: #45505b;
    line-height: 1;
    margin-right: 20px;
    transition: 0.3s;
  }
  
  #hero .social-links a:hover {
    color: #8113ca;
  }
  
  #hero Button {
    margin-top: 30px;
    background-color:  #8113ca;
    border-radius: 5px;
    color: #fff;
    border-style: hidden;
    height: 30px;
  }
  
  #hero Button:hover {
    background-color: #fff;
    color: #8113ca;
    border: 2px solid #8113ca;
  }


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
.contenedor-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 100px;
  align-items: center;
}

.box {
  width: 650px;
}
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #45505b;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #8113ca;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}



/*--------------------------------------------------------------
# Akills - tech stack 
--------------------------------------------------------------*/

.section-title p {
  padding-left: 100px;
}

.imagenes-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  
  
}

.progress {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #45505b;
  width: 100px;
  text-align: center;
}

.progress img{
  justify-content: center;
  margin-bottom: 20px;
  height: 180px;
  width: 180px;  

}
.imagen-stock {
  display: flex;
  justify-content: center;
}

.progress .val {
  float: right;
  font-style: normal;
}

.progress-bar-wrap {
  background: #f2f3f5;
}

.progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #8113ca;
}
/*# Portafolio*/


.proyectos {
  padding-left: 100px;
}



/*# Contact*/
.contacto .info {
    background: #fff;
    padding-left: 100px;
  }

  .h2-contacto {
    text-align: center;}

  .contacto .info .icono  {
    font-size: 20px;
    color: #8113ca;
    float: left;
    width: 40px;
    height: 40px;
    background: #eef7ff;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    display: flex;               
    align-items: center;         
    justify-content: center;  
  
  }
  
  .icono {
    margin: 10px;
  }
  .contacto  .icono:hover  {
    background: #8113ca;
    color: #fff;
  }
  
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  #footer {
    background: #f7f8f9;
    color: #45505b;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
  }
  
  #footer h3 {
    font-size: 36px;
    position: relative;
    padding: 0;
    margin: 0 0 15px 0;
  }
  
  #footer p {
    font-size: 15;
    font-style: italic;
    padding: 0;
    margin: 0 0 30px 0;
  }
  
  #footer .social-links {
    margin: 0 0 40px 0;
  }
  
  #footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #8113ca;
    color: #fff;
    line-height: 36px;  
    text-align: center; 
    padding: 0;
    margin-right: 10px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  
  #footer .social-links a:hover {
    background: #8113ca;
    color: #fff;
    text-decoration: none;
  }
  
  #footer .copyright {
    margin: 0 0 5px 0;
  }
  
  #footer .credits {
    font-size: 13px;
  }